
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600;700&display=swap');

body{
    background-color:#28292d !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.video{
    width: 84%;
    height: 526px;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 15px !important;
}
.text-wrap{
    display: flex;
    width: 100%;
}
.wrap-video{
    display: flex;
}
.video_title{
    color:white;
    font-size: 30px;
    font-family: 'Almarai', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
  }
  li{
    display: inline;
    float:right;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Scheherazade New', serif;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px 20px 22px;
    text-decoration: none;
    cursor: pointer;
  }

  li a:hover {
    background-color: #2b2c30;
  }
  .next-tutorial{
      width: 100%;
      padding: 18px;
      font-size: 15px;
      background-color: #2b2c30;
      color: white;
      border-color: #c9c9c9;
      border-radius: 7px;
      border-width: 0.5px;
      cursor: pointer;
      
  }
  .prev-tutorial{
    width: 100%;
    padding: 18px;
    font-size: 15px;
    background-color: #2b2c30;
    border-radius: 7px;
    color: white;
    border-width: 0.5px;
    cursor: pointer;
 
  }
  .prev-tutorial:hover,
.prev-tutorial:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
  color: #8fc866, 

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}
.section-2{
  background-color: #25262a;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  filter: drop-shadow(0 0 0.20rem rgb(20, 20, 20));
}
.top-section{
  width: 100%;
}
.completed-courses{
  color: white;
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.right-icon{
  content: url(./imgs/right.png);
  width: 100%;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;

}
.left-icon{
  content: url(./imgs/left.png);
  width: 100%;
  height: 30px;
  margin-right: 10px;
 cursor: pointer;
}
.bar{
  background-color: #979393;   
  width: 100%;
  height: 2.0px;
  
  }
  .scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}
.course-img{
  content: url(./imgs/course-img.jpg);
  height: 190px;   
  width: 225px;
  display: inline-block !important; 
  cursor: pointer;
}
.course-title{
  font-size: 16px;
  color: white;
  padding-top: 2px;
  font-family: 'El Messiri', sans-serif;

  display: inline-block !important; 
}
a {
  text-decoration: none;
  display: block;
  width: 100%;
 }
 .a a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}
a { color: inherit; } 
a:hover {
  color: white !important;
}